<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Great Get Together - Survey</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap: Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

    <!-- App CSS -->
    <link href="/static/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="/embed"><img src="/static/img/the-great-get-together-logo.png"
                                  style="display: block; margin: 20px auto;"></a>
            <p>
                Polaroid jianbing farm-to-table pour-over, thundercats post-ironic tumblr cray. Fanny pack schlitz
                skateboard poke, shoreditch hella craft beer synth shabby chic coloring book beard four loko. Beard
                freegan bitters, flexitarian air plant migas la croix green juice gastropub post-ironic authentic.
                Tumblr celiac pok pok PBR&B chambray, fashion axe pabst letterpress XOXO tofu meditation. Mlkshk
                chambray bitters retro selfies asymmetrical. Irony farm-to-table pop-up viral artisan, master cleanse
                twee occupy fanny pack vaporware plaid four dollar toast. Street art meh kitsch, tofu crucifix freegan
                hashtag ugh whatever beard.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                Freegan vegan craft beer chartreuse, poke meh try-hard pour-over. Pop-up squid lo-fi, stumptown butcher
                jianbing poutine mumblecore meh you probably haven't heard of them venmo godard jean shorts. Poke iPhone
                chambray, coloring book mumblecore next level occupy waistcoat succulents tumblr cliche. Next level
                heirloom brunch letterpress organic, seitan salvia DIY 90's austin ennui freegan gentrify tumblr
                bushwick. Poke bicycle rights blue bottle vinyl celiac taxidermy. Taxidermy fap plaid, +1 gochujang roof
                party fingerstache man braid ramps vegan try-hard occupy. Irony roof party godard, keytar kombucha
                quinoa retro keffiyeh butcher brunch health goth mlkshk flannel fap.
            </p>
            <p>
                Enamel pin irony chartreuse put a bird on it disrupt. Fashion axe shabby chic vaporware vape
                flexitarian, +1 cronut crucifix cliche marfa chartreuse taxidermy gluten-free coloring book.
                Farm-to-table hammock pabst letterpress literally chillwave freegan. Live-edge offal ugh mixtape neutra.
                Franzen actually activated charcoal edison bulb. Chambray vice franzen fap fanny pack. Blue bottle vape
                dreamcatcher, green juice coloring book food truck synth schlitz brooklyn typewriter freegan celiac
                tousled.
            </p>
            <p>
                Kickstarter swag everyday carry craft beer pop-up, neutra selvage pabst. Hoodie venmo edison bulb, vice
                street art swag godard sartorial man braid coloring book hashtag. Kale chips tofu salvia XOXO chambray,
                trust fund retro cold-pressed mixtape. Gochujang literally pop-up hoodie jean shorts truffaut. Etsy
                aesthetic organic af. Fingerstache mustache fap vinyl cold-pressed. Swag twee art party yr aesthetic.
            </p>

            <hr>
            <!-- **************** -->
            <!-- Slide 1 / Pledge -->
            <!-- **************** -->

            <section id="pledge" class="slide pledge-section">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Will you pledge to do something -- big or small -- to bring your local community
                            together on the
                            weekend of 17 and 18 June?</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <form data-bsd-form-id="3">
                            <div class="form-group text-left">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="41" id="optionsRadios1"
                                               value="Yes; I want to take part in The Great Get Together" checked>
                                        Yes, I want to take part in The Great Get Together
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="41" id="optionsRadios2"
                                               value="I’m not sure yet; but I’d love to know more">
                                        I’m not sure yet, but I’d love to know more
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="28" id="inputFirstName"
                                       placeholder="First Name" value="John"
                                       required>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="27" id="inputEmail"
                                       placeholder="Email"
                                       value="john.doe@test.com"
                                       required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="33" id="inputPostcode"
                                       placeholder="Postcode" value="N16 0RS"
                                       required>
                            </div>

                            <button type="submit" data-href="#activity-appeals" class="btn btn-default">Next
                            </button>
                        </form>
                    </div>
                </div>
            </section>


            <!-- ************************************ -->
            <!-- Slide 2: What activity appeals most? -->
            <!-- ************************************ -->

            <section id="activity-appeals" class="slide activity-appeals-section" style="display: none;">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Thank you so much for pledging to celebrate with your neighbours and local community in
                            honour of Jo
                            Cox!</h3>
                        <h2>The first thing we need to know is how you’d like to get involved. Which of these
                            appeals to you
                            most? (Don’t worry about the logistics for now -- just choose the options that sound
                            most fun!)</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form data-bsd-form-id="4">
                            <input type="hidden" data-email="true" value="" name="999">
                            <div class="form-group text-left">
                                <div class="radio">
                                    <label>
                                        <input type="radio" data-href="#share-main" name="activityOption"
                                               id="optionsRadios1"
                                               value="street" checked>
                                        Throw a street party
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" data-href="#share-main" name="activityOption"
                                               id="optionsRadios2"
                                               value="tea">
                                        Host an afternoon tea
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" data-href="#share-main" name="activityOption"
                                               id="optionsRadios2"
                                               value="game">
                                        Organise a game of football / cricket / rounders
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" data-href="#share-main" name="activityOption"
                                               id="optionsRadios2"
                                               value="park">
                                        Rally some friends for a local park run or walk
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" data-href="#share-main" name="activityOption"
                                               id="optionsRadios2"
                                               value="bake">
                                        Bake for your neighbours
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" data-href="#other-something" name="activityOption"
                                               id="optionsRadios2"
                                               value="other">
                                        Something else
                                    </label>
                                </div>
                            </div>

                            <button type="submit" data-href="#share-main" class="btn btn-default">Next</button>
                        </form>
                    </div>
                </div>
            </section>

            <!-- *************************** -->
            <!-- Slide x: Something in Mind? -->
            <!-- *************************** -->

            <section id="other-something" class="slide other-something-section" style="display: none;">
                <div class="row">
                    <div class="col-md-12">
                        <h2>
                            None of our ideas take your fancy? No problem -- is there something you had in mind?
                        </h2>
                        <form data-bsd-form-id="5">
                            <input type="hidden" data-email="true" value="" name="999">
                            <div class="form-group text-left">
                                <div class="radio">
                                    <label>
                                        <input type="radio" data-href="#share-main" name="somethingOption"
                                               id="optionsRadios1"
                                               value="yes" checked>
                                        Yes
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" data-href="#other-closest" name="somethingOption"
                                               id="optionsRadios2" value="no">
                                        No
                                    </label>
                                </div>
                            </div>

                            <button type="submit" data-href="#share-main" class="btn btn-default">Next</button>
                        </form>
                    </div>
                </div>
            </section>


            <!-- *************************** -->
            <!-- Slide x: What's the Closest? -->
            <!-- *************************** -->

            <section id="other-closest" class="slide other-closest-section" style="display: none;">
                <div class="row">
                    <div class="col-md-12">
                        <h2>
                            OK! Which of these is closest to your thinking?
                        </h2>
                        <form data-bsd-form-id="6">
                            <input type="hidden" data-email="true" value="" name="999">
                            <div class="form-group text-left">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="closestOption" id="optionsRadios1"
                                               value="I want to host an event but am not keen on any of the suggested ideas"
                                               checked>
                                        I want to host an event but am not keen on any of the suggested ideas
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="closestOption" id="optionsRadios2"
                                               value="Id rather do some smaller act of neighbourly kindness">
                                        I’d rather do some smaller act of neighbourly kindness
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="closestOption" id="optionsRadios2"
                                               value="Id like to attend something, not organise it">
                                        I’d like to attend something, not organise it
                                    </label>
                                </div>
                            </div>

                            <button type="submit" data-href="#share-main" class="btn btn-default">Next</button>
                        </form>
                    </div>
                </div>
            </section>


            <!-- ******************************** -->
            <!-- Slide 3: Share (for answers 1-5) -->
            <!-- ******************************** -->

            <section id="share-main" class="slide share-main-section" style="display: none;">
                <div class="row">
                    <div class="col-lg-12">
                        <h4 data-option="street" class="hidden">
                            Throwing a street party is a brilliant plan! What a great, generous thing to do for your
                            neighbours.
                            We know there’s quite a lot to plan with a street party, but you’ve got plenty of time,
                            and we’ll
                            help you at every step of the way.
                        </h4>
                        <h4 data-option="tea" class="hidden">
                            Hosting an afternoon tea is a lovely idea! What a kind thing to do for your neighbours.
                            A tea
                            shouldn’t
                            be too difficult to pull off -- plus you’ve got plenty of time to plan, and we’ll help
                            you at every
                            step
                            of the way.
                        </h4>
                        <h4 data-option="game" class="hidden">
                            Organising a big team game sounds like an amazing way to bring people of all ages
                            together! What a
                            great
                            thing to do. It’ll take a bit of planning, but you’ve got plenty of time, and we’ll help
                            you at
                            every
                            step of the way.
                        </h4>
                        <h4 data-option="park" class="hidden">
                            Getting some friends and neighbours together in your local park sounds like a great plan
                            to us!
                            It’ll
                            take a bit of planning, but you’ve got plenty of time, and we’ll help you at every step
                            of the way.
                        </h4>
                        <h4 data-option="bake" class="hidden">
                            Baking something for your neighbours is a delicious plan. What a thoughtful, generous
                            thing to do --
                            we’re sure your neighbours will really appreciate the effort.
                        </h4>

                        <hr>

                        <h4 data-option="all">
                            Now we know what you’d like to do, we’ll be in touch very soon with everything you need
                            to help you
                            make your idea a big success. In the meantime, we need loads of other generous people
                            like you to
                            offer to do something for their community as part of the Great Get Together. Please take
                            a few extra
                            seconds to share online:
                        </h4>

                        <h4 data-option="ownIdea" class="hidden">
                            That’s great that you have your own idea! Please keep us posted on your plans! In the
                            meantime, we
                            need loads of other generous people like you to offer to do something for their
                            community as part of
                            the Great Get Together. Please take a few extra seconds to share online:
                        </h4>

                        <h4 data-option="closeIdea" class="hidden">
                            We hear you! We’re gathering more ideas from our community all the time, and will share
                            them with
                            you for inspiration. In the meantime, we need loads of other great people like you to
                            say they’ll be
                            part of the Great Get Together. Please take a few extra seconds to share online:
                        </h4>

                        <hr>

                        <ul>
                            <li>
                                <i class="fa fa-twitter-square fa-4" aria-hidden="true" style="color: #f05a54"></i>
                            </li>
                            <li>
                                <i class="fa fa-facebook-square fa-4" aria-hidden="true" style="color: #f05a54"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <p>
                Freegan vegan craft beer chartreuse, poke meh try-hard pour-over. Pop-up squid lo-fi, stumptown
                butcher
                jianbing poutine mumblecore meh you probably haven't heard of them venmo godard jean shorts.
                Poke iPhone
                chambray, coloring book mumblecore next level occupy waistcoat succulents tumblr cliche. Next
                level
                heirloom brunch letterpress organic, seitan salvia DIY 90's austin ennui freegan gentrify tumblr
                bushwick. Poke bicycle rights blue bottle vinyl celiac taxidermy. Taxidermy fap plaid, +1
                gochujang roof
                party fingerstache man braid ramps vegan try-hard occupy. Irony roof party godard, keytar
                kombucha
                quinoa retro keffiyeh butcher brunch health goth mlkshk flannel fap.
            </p>
            <p>
                Enamel pin irony chartreuse put a bird on it disrupt. Fashion axe shabby chic vaporware vape
                flexitarian, +1 cronut crucifix cliche marfa chartreuse taxidermy gluten-free coloring book.
                Farm-to-table hammock pabst letterpress literally chillwave freegan. Live-edge offal ugh mixtape
                neutra.
                Franzen actually activated charcoal edison bulb. Chambray vice franzen fap fanny pack. Blue
                bottle vape
                dreamcatcher, green juice coloring book food truck synth schlitz brooklyn typewriter freegan
                celiac
                tousled.
            </p>
            <p>
                Kickstarter swag everyday carry craft beer pop-up, neutra selvage pabst. Hoodie venmo edison
                bulb, vice
                street art swag godard sartorial man braid coloring book hashtag. Kale chips tofu salvia XOXO
                chambray,
                trust fund retro cold-pressed mixtape. Gochujang literally pop-up hoodie jean shorts truffaut.
                Etsy
                aesthetic organic af. Fingerstache mustache fap vinyl cold-pressed. Swag twee art party yr
                aesthetic.
            </p>
        </div>
    </div>


    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Bootstrap: Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!-- Scrolling Nav: Custom JavaScript -->
    <script src="/static/js/fade-nav.js?dkjw"></script>

    <!-- App Code -->
    <script src="/static/js/app.js"></script>

</body>
</html>