<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Great Get Together - Survey</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <![endif]-->
</head>

<body>


<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>

    $.ajax({
        type: "POST",
        data: {
            87: 'segal_jack_unsub@yahoo.com',
            89: 'John',
            96: 'N16 0RS',
            'unsub': 'segal_jack_unsub@yahoo.com'
        },
        url: "http://localhost:8000/api/ijqw7dx/signup/7",
        dataType: "json",
        success: function (response) {
            console.log(response);
        },
    });
</script>

</body>
</html>